[Unit]
Description=Run drift downloader every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=drift-downloader.service

[Install]
WantedBy=timers.target
