[Unit]
Description=Drift Downloader
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/src/nathan-source/drift-downloader
ExecStart=/usr/local/src/nathan-source/drift-downloader/run.sh
Restart=on-failure
RestartSec=10
